<h1><%= @wall.name %></h1>
<%= image_tag "#{@wall.photo}" %>
<h2 id="review_title">
  <%= render 'walls/review_title', reviews: @reviews %>
</h2>

<div id="reviews">
  <% if @reviews.blank? %>
    <div id="remove_noreview">
      Be the first to leave a review for <%= @wall.name %>
    </div>
  <% else %>
    <% @reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>


<%= render 'reviews/form', wall: @wall, review: @review %>
